<div id="news_updates">
	<div class="year_update">

		<h2>2018</h2>
		<p>
			<strong><em><u>July</u></em></strong>
		  	<ul>  
			  	<li>
					I am presenting our paper 'Fine-Scale Prediction of People's Home Location using Social Media Footprints' at SBP-BRIMS 2018 this week.
				</li>
			</ul>
		</p>
		
		<p>
			<strong><em><u>June</u></em></strong>
			<ul>  
			  	<li>
				   Our PLOS ONE paper has been published this week. <a title="Paper" href="http://dx.plos.org/10.1371/journal.pone.0198857">Take a look at it!</a>
			    </li>
			</ul>
			
		  	<ul>  
			  	<li>
				   <a href="http://hamdikavak.com/download/GeoSim18_cfp_final.pdf">The call for papers</a> is out for the GeoSim'18 Workshop. To see the details <a href="https://www.geosim.org">click here</a> and to submit your paper <a href="https://easychair.org/conferences/?conf=geosim18">click here</a>.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>May</u></em></strong>
		  	<ul>  
			  	<li>
				   We are organizing a workshop on GeoSpatial Simulation (GeoSim'18), part of the SIGSPATIAL 2018 (Seattle, Washington, USA). See details at <a href="https://www.geosim.org">https://www.geosim.org</a>.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>April</u></em></strong>
		  	<ul>  
			  	<li>
				    I'm presenting our paper called 'Big Data, Agents, and Machine Learning: towards A Data-Driven Agent-based Modeling Approach' at the Annual Simulation Symposium at SpringSim 2018.
			    </li>
			    <li>
			    	I've started a Research Faculty position at George Mason University.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>March</u></em></strong>
		  	<ul>  
			    <li>
			    	Our paper entitled "Temporal and Spatiotemporal Investigation of Tourist Attraction Visit Sentiment on Twitter" has been accepted to PLOS ONE.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>February</u></em></strong> <br />
			<ul>
				<li>Our paper entitled "Fine-Scale Prediction of People's Home
					Location using Social Media Footprints" has been accepted as a short
					paper for the SBP-BRIMS 2018 Conference
				</li>
				<li>Our following two papers have been accepted to the Annual
					Simulation Symposium at Spring Simulation Multi-Conference 2018
				</li>
				<ol>
					<li>Assessing the Impact of Cyberloafing on Cyber Risk</li>
					<li>Big Data, Agents, and Machine Learning: towards A
						Data-Driven Agent-based Modeling Approach</li>
				</ol>
			</ul>
				
		</p>
		<p>
			<strong><em><u>January</u></em></strong><br /> I wish you all happy,
			healthy, and productive new year!
		</p>
	</div>
	<div class="year_update">
		<hr />
		<h2>2017</h2>
		<p>
			<strong><em><u>December</u></em></strong>
		  	<ul>  
			    <li>
				    <a href="http://sim4all.org/2017/12/13/the-virtual-city/">The Virtual City short article</a> on <a href="http://sim4all.org">sim4all</a>.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>November</u></em></strong>
		  	<ul>  
			    <li>
			    	<a href="http://scs.org/wp-content/uploads/2017/09/ANSS_CFP_Springsim18v2.pdf">The 51th Annual Simulation Symposium (ANNS'18)</a> full paper submission deadline is extended to <b>December 14, 2017</b>. Looking forward to receiving your submissions.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>October</u></em></strong>
		  	<ul>  
			    <li>
			    	I am presenting my dissertation topic at the ODU's 3MT (Three Minute Thesis) challenge. The event will be held at the University Theatre at ODU on October 24, 2017 
		5:00 – 8:00 p.m.
			    </li>
			</ul>
		</p>
		<p>
			<strong><em><u>August</u></em></strong>
		  	<ul>  
			    <li>
			    	I have attended the Swarmfest 2017 and presented an introductory tutorial to CLOUDES. 
			    	Chris Lynch presented our paper titled "Identifying Unexpected Behaviors of Agent-based Models through Spatial Plots and Heat Maps".
			    	Good conference, great discussions and exchange of ideas, and Joshua M. Epstein as the keynote speaker. 
			    </li>
			</ul>
		</p>
		
		<p>
		<strong><em><u>July</u></em></strong>
		  <ul>  
		    <li>
		      Our paper titled "Identifying Unexpected Behaviors of Agent-based Models through Spatial Plots and Heat Maps" is accepted for the Swarmfest 2017 conference.
		    </li>
		    <li>
		      Version 0.2.0 of my <a href="https://github.com/hamdikavak/human-mobility-modeling-utilities">Human Mobility Modeling Utilities</a> library is released on GitHub.
		    </li>
		</ul>
		    </p>
		<p>
		<strong><em><u>June</u></em></strong><br/>
		  Our following two papers are accepted to the Winter Simulation Conference 2017
		  <ul>    
		    <li>Incorporating Sound in Simulations</li>
		    <li>Storytelling and Simulation Creation</li>
		</ul>
		  </p>
		<p>
		<strong><em><u>April</u></em></strong><br/>
		  I have presented two papers in the Spring Simulation Multi-Conference 2017
		  <ul>    
		    <li>CNS Symposium: The Spread of Wi-Fi Router Malware Revisited</li>
		    <li>DEMO Session: A Data-Driven Spatial Agent-Based Simulation Application With In-Memory Caching Support</li>
		</ul>
		  </p>
		<p>
		<p>
		<strong><em><u>March</u></em></strong><br/>
		Our submission titled "A Data-Driven Spatial Agent-Based Simulation Application With In-Memory Caching Support" was accepted for the M&amp;S Demo Session in Spring Simulation Multi-Conference 2017.
		  </p>
		<p>
		<strong><em><u>January</u></em></strong><br/>
		Our Wi-Fi malware spread paper was accepted for the 20th Communications and Networking Simulation Symposium.
		  </p>
	</div>
	<div class="year_update">
		<hr />
		<h2>2016</h2>
		<p>
		<strong><em><u>December</u></em></strong><br />
		Our <a href="https://www.researchgate.net/publication/311679896_Using_Simulation_Games_for_Teaching_and_Learning_Discrete-Event_Simulation" target="_blank"> teaching simulation using games paper</a> was presented at the 2016 Winter Simulation Conference.
		</p>
		<p>
		<strong><em><u>August</u></em></strong> <br />
		Our <a href="hamdikavak.com/publications/download/SIMULATION_2016_Accepted.pdf" target="_blank">enhanced trace validation of agent-based models paper</a> was published in the Sage journal SIMULATION: Transactions of The Society for Modeling and Simulation International.
		</p>
		<p>
		<strong><em><u>July</u></em></strong> <br />
		Our <a href="https://www.researchgate.net/profile/Hamdi_Kavak/publication/305764162_Towards_Modeling_Factors_that_Enable_an_Attacker/links/579f6a0108aece1c721562b6.pdf" target="_blank">cyber attacker modeling paper</a> was presented at the 2016 Summer Simulation Conference.
		</p>
		<p>
		<strong><em><u>April</u></em></strong> <br />
		I presented <a href="https://www.researchgate.net/publication/299820368_A_Characterization_of_Cybersecurity_Simulation_Scenarios" target="_blank">our cyber scenario characterization paper</a> and <a href="https://www.researchgate.net/publication/299889096_Human_Mobility_Simulation_Framework_Using_Big_Data_and_Agents" target="_blank">human mobility framework poster</a> at the 2016 Spring Simulation Conference at Pasadena, California, USA.
		My poster won the best presentation award.
		  </p>
	</div>
</div>
