<h2>2017</h2>
<p>
<strong><em><u>June</u></em></strong><br/>
  Our following two papers are accepted to the Winter Simulation Conference 2017
  <ul>    
    <li>Incorporating Sound Cues in Simulations</li>
    <li>Storytelling and Simulation Creation</li>
</ul>
  </p>
<p>
<strong><em><u>April</u></em></strong><br/>
  I have presented two papers in the Spring Simulation Multi-Conference 2017
  <ul>    
    <li>CNS Symposium: The Spread of Wi-Fi Router Malware Revisited</li>
    <li>DEMO Session: A Data-Driven Spatial Agent-Based Simulation Application With In-Memory Caching Support</li>
</ul>
  </p>
<p>
<p>
<strong><em><u>March</u></em></strong><br/>
Our submission titled "A Data-Driven Spatial Agent-Based Simulation Application With In-Memory Caching Support" was accepted for the M&amp;S Demo Session in Spring Simulation Multi-Conference 2017.
  </p>
<p>
<strong><em><u>January</u></em></strong><br/>
Our Wi-Fi malware spread paper was accepted for the 20th Communications and Networking Simulation Symposium.
  </p>
<hr />
<h2>2016</h2>
<p>
<strong><em><u>December</u></em></strong><br />
Our <a href="https://www.researchgate.net/publication/311679896_Using_Simulation_Games_for_Teaching_and_Learning_Discrete-Event_Simulation" target="_blank"> teaching simulation using games paper</a> was presented at the 2016 Winter Simulation Conference.
</p>
<p>
<strong><em><u>August</u></em></strong> <br />
Our <a href="hamdikavak.com/publications/download/SIMULATION_2016_Accepted.pdf" target="_blank">enhanced trace validation of agent-based models paper</a> was published in the Sage journal SIMULATION: Transactions of The Society for Modeling and Simulation International.
</p>
<p>
<strong><em><u>July</u></em></strong> <br />
Our <a href="https://www.researchgate.net/profile/Hamdi_Kavak/publication/305764162_Towards_Modeling_Factors_that_Enable_an_Attacker/links/579f6a0108aece1c721562b6.pdf" target="_blank">cyber attacker modeling paper</a> was presented at the 2016 Summer Simulation Conference.
</p>
<p>
<strong><em><u>April</u></em></strong> <br />
I presented <a href="https://www.researchgate.net/publication/299820368_A_Characterization_of_Cybersecurity_Simulation_Scenarios" target="_blank">our cyber scenario characterization paper</a> and <a href="https://www.researchgate.net/publication/299889096_Human_Mobility_Simulation_Framework_Using_Big_Data_and_Agents" target="_blank">human mobility framework poster</a> at the 2016 Spring Simulation Conference at Pasadena, California, USA.
My poster won the best presentation award.
  </p>
