<a href="#smdata" class="accordion-toggle">
	 {% include functions/research_summary_header.html summary_status="complete" %} How can social media data be used in agent-based simulations?
</a>
<div class="accordion-content" id="smdata">
    This study briefs on current research efforts pertaining to the use of social media data to provide empirical grounding of agent-based simulations. Three examples of how data from social media can be used in agent-based modeling are presented: 1) using large data set processing and sentiment analysis to identify preferences of a population (initialization of an agent population), 2) using agents with machine learning capabilities to learn mobility patterns from individuals in a population (initialization of individual agents in a population), and 3) identifying preferences and communication patterns based on graph analysis (agent relation). Current research indicates that these techniques show promise for creating smart agents to complement those based on complex rule-based behavior, especially using a simulation's what-if capabilities.
    
  {% include functions/research_summary_footer.html 
	footer_link="https://www.researchgate.net/profile/Hamdi_Kavak/publication/269411592_Leveraging_Social_Media_Data_in_Agent-based_Simulations/links/568ab1ce08ae1975839d9f66/Leveraging-Social-Media-Data-in-Agent-based-Simulations.pdf" 
	footer_link_text="SpringSim 2014 Paper"%}
</div>
