{% include functions/research_summary_header.html 
summary_status="complete" 
summary_title="Application: The Spread of Wi-Fi Router Malware" 
summary_target="wifi" %}

<div class="collapse mb-2" id="wifi">
	<div class="card card-body">
    <p class="card-text">
    	This study revisits a Wi-Fi malware spread model by Hu et al. [2009, PNAS, 106(5)] with current Wi-Fi router data from WiGLE.net and a refined data selection method. We examine the temporality and scale of the malware spread applying these two updates. Despite ≈88% WPA adoption rate, we see a rapid malware spread occurring in a week and infecting ≈34% of all insecure routers (≈5.4% of all) after two weeks. This result is significantly higher than the original study projection. It occurs due to the increased use of Wi-Fi routers causing a more tightly connected graph. We argue that this projected risk can increase when current vulnerabilities introduced and connected devices are considered. Ultimately, a thorough consideration is needed to assess cybersecurity risks in Wi-Fi ecosystem and evaluate interventions to stop epidemics.   
    </p>
    <div class="row justify-content-center">
		    <div class="col-md-8">
		        <div class="row">
		            <a href="images/data_driven_agents/wifi/transition.png" data-toggle="lightbox" data-gallery="wifi-gallery" class="col-sm-4" data-title="Transitions" data-footer="This visual shows possible health state transitions of Wi-Fi router agents.">
					    <img src="images/data_driven_agents/wifi/transition.png" class="img-fluid">
					</a>
					<a href="images/data_driven_agents/wifi/example_record.png" data-toggle="lightbox" data-gallery="wifi-gallery" class="col-sm-4" data-title="WIGLE Data" data-footer="An example WiGLE record.">
					    <img src="images/data_driven_agents/wifi/example_record.png" class="img-fluid">
					</a>
					<a href="images/data_driven_agents/wifi/result.png" data-toggle="lightbox" data-gallery="wifi-gallery" class="col-sm-4" data-title="Results" data-footer="Simulation results at a glance. A. Snapshots from the spread of the malware at different points in time, taken from one simulation run. B. A time series graph showing the attack rate using multiple simulation runs. C. Final infection rates of different susceptible classes of agents as the average of multiple simulation runs.">
					    <img src="images/data_driven_agents/wifi/result.png" class="img-fluid">
					</a>
		        </div>
		    </div>
		</div>
  </div>
  {% include functions/research_summary_footer.html 
	footer_link="https://www.researchgate.net/profile/Hamdi_Kavak/publication/316527645_The_Spread_of_Wi-Fi_Router_Malware_Revisited/links/5902667caca2725bd7223345/The-Spread-of-Wi-Fi-Router-Malware-Revisited.pdf" 
	footer_link_text="Communications and Networking Simulation Symposium"%}
</div>
